*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none; /* Chrome Safari */
}

video::-webkit-media-controls-enclosure {
    display: none;
}